@use 'base/variables' as v;

.alerta{
    display: block;
    padding: 1rem;
    font-weight: 900;
    text-align: center;
    margin: 1rem 0;
    text-transform: uppercase;
    color: v.$rojo;
     &.error{
         background-color: lighten(v.$rojo, 60%);
         border-left: 5px solid v.$rojo;
         color: v.$rojo;
     }
     &.exito{
        background-color: lighten(v.$verde, 60%);
        border-left: 5px solid v.$verde;
        color: v.$verde;
     }
}